// breakpoints
$tabletPoint: 1140px;
$mobilePoint: 768px;
$header-height: 80px;

// borders
$border-color-1: #eee;
$border-color-2: #7082f5;

// sizes
$big-border-radius: 20px;
$main-border-radius: 8px;
$small-border-radius: 4px;
