@import '@/styles/variables';
@import '@/styles/mixins';

.section {
  border: 1px solid var(--border-color-1);
  padding: 10px;
  border-radius: $main-border-radius;
  cursor: pointer;
  @include flex(flex-start, space-between);
  flex-direction: column;
}

.title {
  margin: 0;
  @include text(16px, 500, 24px);
}

.actions {
  margin: 10px 0 0 0;
  @include flex(center, flex-start);
  gap: 0 10px;
}
